In [1]:
import sys
sys.path.append("../")
from src import scrap_webs as spc

In [4]:
url_imdb = "https://www.imdb.com/chart/top/?ref_=nv_mv_250&keywords=based-on-novel"
df_imdb = spc.sacar_datos_imdb(url_imdb)

In [5]:
display(df_imdb.head())
display(df_imdb.shape[0])

,title,year,duration,rating,votes
0,1. The Godfather,1972,2h 55m,9.2,2.1M
1,2. The Godfather Part II,1974,3h 22m,9.0,1.4M
2,3. The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,2M
3,4. The Lord of the Rings: The Fellowship of th...,2001,2h 58m,8.9,2.1M
4,5. Forrest Gump,1994,2h 22m,8.8,2.3M

66

In [2]:
url_filmaffinity = "https://www.filmaffinity.com/en/listtopmovies.php?list_id=360"
df_filmaffinity  = spc.sacar_datos_filmaffinity(url_filmaffinity)

In [3]:
display(df_filmaffinity.head())
display(df_filmaffinity.shape[0])

                                               title  year rating
0  The Lord of the Rings: The Fellowship of the R...  2001    8.0
1  The Lord of the Rings: The Return of the KingT...  2003    8.2
2  The Lord of the Rings: The Two TowersThe Lord ...  2002    8.0
3                         The GodfatherThe Godfather  1972    9.0
4           The Name of the RoseThe Name of the Rose  1986    7.8

100