In [1]:
import os
from dotenv import load_dotenv # type: ignore
load_dotenv()

import sys
sys.path.append("../")
from src import apis as api

api_key = os.getenv("x-rapidapi-key")

In [ ]:
url = "https://streaming-availability.p.rapidapi.com/shows/search/title"
title = "The Lord of the Rings: The Return of the King"
df_streaming = api.get_data_streaming(url,api_key,title)

In [ ]:
display(df_streaming.head())
display(df_streaming.shape[0])

In [4]:
url = "https://hapi-books.p.rapidapi.com/search/"
title = "The Lord of the Rings: The Return of the King"
title = title.replace(' ', '+')
df_books = api.get_data_books(url,api_key,title)

In [5]:
display(df_books.head())
display(df_books.shape[0])

                                               title  rating  releaseYear
0  The Lord of the Rings: The Return of the King:...    4.62         2003

1