In [1]:
import pandas as pd # type: ignore

import sys
sys.path.append("../")
from src import soporte_clean as sop

In [2]:
df_peliculas_imdb = pd.read_csv("../data/peliculas_imdb.csv", index_col = 0)
df_books_imdb = pd.read_csv("../data/books_peliculas_imdb.csv", index_col = 0)
df_streaming_imdb = pd.read_csv("../data/streaming_peliculas_imdb.csv", index_col = 0)

In [3]:
df_all_imdb = sop.merge_dataframe(df_peliculas_imdb,df_books_imdb,df_streaming_imdb)

In [4]:
display(df_all_imdb.head())
display(df_all_imdb.shape[0])

,title,year,duration,rating_x,votes,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,2h 55m,9.2,2.1M,4.39,1969,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather Part II,1974,3h 22m,9.0,1.4M,3.92,unknown,tt0071562,1974.0,['Prime Video']
2,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,2M,4.62,2003,tt0167260,2003.0,"['Apple TV', 'Prime Video', 'Max']"
3,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,8.9,2.1M,4.65,2001,tt0120737,2001.0,"['Prime Video', 'Apple TV', 'Max']"
4,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,8.9,2.1M,4.65,2001,tt0120737,2001.0,"['Prime Video', 'Apple TV', 'Max']"

67

In [5]:
df_all_imdb[df_all_imdb.duplicated()]
df_all_imdb.drop_duplicates(subset="title", inplace=True)

In [6]:
display(df_all_imdb.head())
display(df_all_imdb.shape[0])

,title,year,duration,rating_x,votes,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,2h 55m,9.2,2.1M,4.39,1969,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather Part II,1974,3h 22m,9.0,1.4M,3.92,unknown,tt0071562,1974.0,['Prime Video']
2,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,2M,4.62,2003,tt0167260,2003.0,"['Apple TV', 'Prime Video', 'Max']"
3,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,8.9,2.1M,4.65,2001,tt0120737,2001.0,"['Prime Video', 'Apple TV', 'Max']"
5,Forrest Gump,1994,2h 22m,8.8,2.3M,4.02,1986,tt0109830,1994.0,"['Netflix', 'Prime Video']"

66

In [7]:
df_all_imdb.isna().sum()

title              0
year               0
duration           0
rating_x           0
votes              0
rating_y           0
releaseYear_x      0
imdbId            14
releaseYear_y     14
list_plataform    14
dtype: int64

In [8]:
df_all_imdb.isnull().sum()

title              0
year               0
duration           0
rating_x           0
votes              0
rating_y           0
releaseYear_x      0
imdbId            14
releaseYear_y     14
list_plataform    14
dtype: int64

In [9]:
df_all_imdb = sop.clean_data(df_all_imdb)

In [10]:
df_all_imdb.isna().sum()

title             0
year              0
duration          0
rating_x          0
votes             0
rating_y          0
releaseYear_x     0
imdbId            0
releaseYear_y     0
list_plataform    0
dtype: int64

In [11]:
df_all_imdb.isnull().sum()

title             0
year              0
duration          0
rating_x          0
votes             0
rating_y          0
releaseYear_x     0
imdbId            0
releaseYear_y     0
list_plataform    0
dtype: int64

In [12]:
df_all_imdb.to_csv(f"../data/all_data_imdb.csv")