In [1]:
import pandas as pd # type: ignore

import sys
sys.path.append("../")
from src import soporte_clean as sop

In [2]:
df_peliculas_filmaffinity = pd.read_csv("../data/peliculas_filmaffinity.csv", index_col = 0)
df_books_filmaffinity = pd.read_csv("../data/books_peliculas_filmaffinity.csv", index_col = 0)
df_streaming_filmaffinity = pd.read_csv("../data/streaming_peliculas_filmaffinity.csv", index_col = 0)

In [3]:
df_all_filmaffinity = sop.merge_dataframe(df_peliculas_filmaffinity,df_books_filmaffinity,df_streaming_filmaffinity)

In [4]:
display(df_all_filmaffinity.head())
display(df_all_filmaffinity.shape[0])

,title,year,rating_x,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,9.0,4.39,1969,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather: Part II,1974,8.9,3.92,unknown,NaN,NaN,NaN
2,The Shawshank Redemption,1994,8.6,4.48,unknown,tt0111161,1994.0,['Netflix']
3,Witness for the Prosecution,1957,8.6,4.07,1995,tt0051201,1957.0,['Apple TV']
4,Schindler's List,1993,8.6,4.34,1982,tt0108052,1993.0,"['Apple TV', 'Netflix']"

102

In [5]:
df_all_filmaffinity[df_all_filmaffinity.duplicated()]
df_all_filmaffinity.drop_duplicates(subset="title", inplace=True)

In [6]:
display(df_all_filmaffinity.head())
display(df_all_filmaffinity.shape[0])

,title,year,rating_x,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,9.0,4.39,1969,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather: Part II,1974,8.9,3.92,unknown,NaN,NaN,NaN
2,The Shawshank Redemption,1994,8.6,4.48,unknown,tt0111161,1994.0,['Netflix']
3,Witness for the Prosecution,1957,8.6,4.07,1995,tt0051201,1957.0,['Apple TV']
4,Schindler's List,1993,8.6,4.34,1982,tt0108052,1993.0,"['Apple TV', 'Netflix']"

99

In [7]:
df_all_filmaffinity.isna().sum()

title              0
year               0
rating_x           0
rating_y           2
releaseYear_x      2
imdbId            22
releaseYear_y     22
list_plataform    22
dtype: int64

In [8]:
df_all_filmaffinity.isnull().sum()

title              0
year               0
rating_x           0
rating_y           2
releaseYear_x      2
imdbId            22
releaseYear_y     22
list_plataform    22
dtype: int64

In [9]:
df_all_filmaffinity = sop.clean_data(df_all_filmaffinity)

In [10]:
df_all_filmaffinity.isna().sum()

title             0
year              0
rating_x          0
rating_y          0
releaseYear_x     0
imdbId            0
releaseYear_y     0
list_plataform    0
dtype: int64

In [11]:
df_all_filmaffinity.isnull().sum()

title             0
year              0
rating_x          0
rating_y          0
releaseYear_x     0
imdbId            0
releaseYear_y     0
list_plataform    0
dtype: int64

In [12]:
df_all_filmaffinity.to_csv(f"../data/all_data_filmaffinity.csv")