In [1]:
import pandas as pd # type: ignore
import os
import psycopg2 # type: ignore
from dotenv import load_dotenv # type: ignore

import sys
sys.path.append("../")
from src import conexion_bd as con
from src import creacion_tablas as cre

load_dotenv()

True

In [2]:
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_NAME")

In [3]:
df_all_data_filmaffinity= pd.read_csv("../data/all_data_filmaffinity.csv", index_col = 0)
df_all_data_imdb= pd.read_csv("../data/all_data_imdb.csv", index_col = 0)

In [4]:
display(df_all_data_filmaffinity.head())
display(df_all_data_filmaffinity.shape[0])

,title,year,rating_x,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,9.0,4.39,1972.0,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather: Part II,1974,8.9,3.92,0.0,tt0000000,0.0,NaN
2,The Shawshank Redemption,1994,8.6,4.48,1994.0,tt0111161,1994.0,['Netflix']
3,Witness for the Prosecution,1957,8.6,4.07,1957.0,tt0051201,1957.0,['Apple TV']
4,Schindler's List,1993,8.6,4.34,1993.0,tt0108052,1993.0,"['Apple TV', 'Netflix']"

99

In [5]:
display(df_all_data_imdb.head())
display(df_all_data_imdb.shape[0])

,title,year,duration,rating_x,votes,rating_y,releaseYear_x,imdbId,releaseYear_y,list_plataform
0,The Godfather,1972,2h 55m,9.2,2.1M,4.39,1972.0,tt0068646,1972.0,"['Prime Video', 'Netflix']"
1,The Godfather Part II,1974,3h 22m,9.0,1.4M,3.92,1974.0,tt0071562,1974.0,['Prime Video']
2,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0,2M,4.62,2003.0,tt0167260,2003.0,"['Apple TV', 'Prime Video', 'Max']"
3,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,8.9,2.1M,4.65,2001.0,tt0120737,2001.0,"['Prime Video', 'Apple TV', 'Max']"
5,Forrest Gump,1994,2h 22m,8.8,2.3M,4.02,1994.0,tt0109830,1994.0,"['Netflix', 'Prime Video']"

66

In [6]:
# Conectar a la base de datos
conn, cursor = con.create_connection(user,password,host,port,database)

df_filmaffinity = pd.read_csv("../data/all_data_filmaffinity.csv", index_col = 0)
df_filmaffinity["id_web"] = 1

cre.main(conn,cursor,df_filmaffinity)

df_imdb = pd.read_csv("../data/all_data_imdb.csv", index_col = 0)
df_imdb["id_web"] = 2

cre.main(conn,cursor,df_imdb)

# Cerrar la conexión
con.close_connection(conn, cursor)

Conexión a la base de datos establecida con éxito.
Tabla 'webs' creada con éxito.
webs insertadas con éxito.
Tabla 'peliculas' creada con éxito.
Datos cargados con éxito en la tabla 'peliculas'.
Tabla 'webs' creada con éxito.
webs insertadas con éxito.
Tabla 'peliculas' creada con éxito.
Datos cargados con éxito en la tabla 'peliculas'.
Conexión a la base de datos cerrada con éxito.